params {
    outdir = "output/"
    publish_dir_mode = "copy"
    singularity_pull_docker_container = false
}

process {
    cpus = 2
    memory = 6.GB
    time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else {
    docker.enabled = true
    docker.userEmulation = false
    docker.fixOwnership = true
    docker.runOptions = '--platform=linux/amd64'
}

docker.registry = 'quay.io'
singularity.registry = 'quay.io'

// Load nf-core test data
includeConfig "https://raw.githubusercontent.com/nf-core/modules/master/tests/config/test_data.config"

manifest {
    nextflowVersion = '>=24.04.0'
}
