// Base directory for test data
def crick_test_data_dir = "./tests/data"

params {
    crick_test_data {
        'ont' {
            pod5_run_folder  = "${crick_test_data_dir}/ont/seq_runs/pod5_100"
            pod5_samplesheet = "${crick_test_data_dir}/ont/seq_runs/pod5_100/samplesheet.csv"
        }
    }
}
